<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635709993816-66267m1ibv8kd104jtuo7ds00i396l51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635709993816-66267m1ibv8kd104jtuo7ds00i396l51</string>
	<key>API_KEY</key>
	<string>AIzaSyAer43EET6ofqZIcJrhmFNkI27as92aNsA</string>
	<key>GCM_SENDER_ID</key>
	<string>635709993816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiroakiapp.Swift6ChatApp1</string>
	<key>PROJECT_ID</key>
	<string>swift6chatapp1-f3077</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6chatapp1-f3077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635709993816:ios:3d1d21575fa1fc0980ab2d</string>
</dict>
</plist>